.publications {
  padding-top: 60px;
  background: $bg-color;


  &__switch-buttons {
    
      margin-bottom: 30px;
      position: relative;
      text-align: center;
      display: flex;
      justify-content: center;
    
    
    
    input {
      position: absolute;
      opacity: 0;
      z-index: -10;
    
    }
    
    input+label {
      display: flex;
      width: 227px;
      height: 42px;
      border-radius: 10px;
      position: relative;
      cursor: pointer;
      background: $separator-color;
     
     
    
    
    }
    
  
    


    
     input+label::before {
      content: '';
      position: absolute;
      top: 2px;
     
      left: 2px;
      width: 120px;
      height: 38px;
      border-radius: 10px;
      background-color: $basic-white ;
      
      transition: all .3s linear;
    }

 
    
    span {
      color: $main-color;
      font-weight: 700;
      position: relative;
      flex: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    input:checked+label::before {
      transform: translateX(100%);
      background-color: #fff; 
    }


  }





  



      &__posts {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        height: 100%;
        

        @media screen and (min-width: $breakpoint-md) {
          margin-right: calc(-50vw + 424px);
          margin-left: calc(-50vw + 424px);
      }
  
      @media screen and (min-width: $breakpoint-lg) {
          margin: 0;
      }
        
      }


        
      &__post {
       
          flex: 1 1 100%;
          max-width: 100%;
          background-color: $basic-white;
          border-radius: 8px 8px 8px 8px;
         
      
        
       
       
        
      
          @media screen and (min-width: $breakpoint-md) {
            flex: 1 1 31%;
          
           
          
          
          }}
    

      &__post-link {
        text-decoration: none;
        display: block;
     
        
      }

      &__post-thumbnail {
        overflow: hidden;

        img {
          width: 100%;
          height: auto;
          display: block;
        }
       
    

      
      }

      &__post-content {
    
        padding: 30px;
       

       
      }

      &__post-subtitle {
        @include base-link;
        font-size: 16px;
        
        
      

      }
      &__post-date {
        text-transform: uppercase;
        color: $text-color;
        font-weight: 700;
        font-size: 12px;
        padding: 15px 0;
        border-bottom: solid 4px $separator-color;
        margin-bottom: 15px;

      }

      &__post-preview {
        font-size: 14px;
        color:  #000000;

      
       
       
        


      }
    }
  
    
