.services {
  padding: 60px 0;
  color: $basic-white;
  position: relative;
 
  &::before,
  &::after {
    content: "";
    position: absolute;
    bottom: -10px;
    height: 10px;
   
  }

  &::before {
    background: #cacadb; // First shadow background color
    left: 20px;
    right: 20px;
    border-radius: 0px 0px 12px 12px;


  }

  &::after {
    bottom: -20px;
    background: #e7e7f2; // Second shadow background color
    border-radius: 0px 0px 12px 12px;
    left: 40px;
    right: 40px;
  }



  &__title {
    @include title;
    margin-bottom: 60px;
    @include main-gradient-text;
  }

  &__link {
    @include base-link;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding-right: 10px;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      
      right: 0; 
      top: 50%; 
      transform: translateY(-50%) rotate(-45deg); 
   
      width:8px;
      height: 8px;
     
      border-bottom: 2px solid $regular-color;
      border-right: 2px solid $regular-color;
      transition: 0.2s;
    }
    
    
  }


  &__items {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
  }

  &__item {
   
    @media screen and (min-width: $breakpoint-sm) {
      flex: 1 1 45%; 
    }

    @media screen and (min-width: $breakpoint-md) {
      flex: 1 1 25%; 
    }

  
  }

  &__description {
    font-size: 16px;
    color: $basic-white;
  }
  &__item-link {
    text-decoration: none;
  }



  &__item-image {
    margin-bottom: 30px;
  

  }

  &__item-icon {
    width: 92px;
    height: 92px;
    fill: $gradient-red-text;
    border-radius: 24px;
    padding: 14px;
    background: $basic-white;

  }
   
    &__subtitle {
      @include base-link;
      font-size: 22px;
      margin-bottom: 15px;
      

    }

  }
   
  



